
@{
    ViewBag.Title = "TestEmail";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}

<h2>TestEmail</h2>

<div class="panel">
    <div class="panel-body">


        @Html.Partial("Messages")

        <div class="col-md-4 col-md-offset-4">
            <form action="@Url.Action("TestEmail", "Dashboard")" method="POST">

                <div class="form-group">
                    <label>Reciever</label>
                    <input type="email" name="reciever" class="form-control" />
                </div>

                <div class="form-group">
                    <label>Subject</label>
                    <input type="text" name="subject" class="form-control" />
                </div>

                <div class="form-group">
                    <label>Message</label>
                    <textarea name="message" class="form-control"></textarea>
                </div>

                <input type="submit" value="Send" class="btn btn-primary" />

            </form>
        </div>

    </div>
</div>

